@font-face {
  font-family: 'NanumDaeHanMinGugYeorSaCe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumDaeHanMinGugYeorSaCe/NanumDaeHanMinGugYeorSaCe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumDaeHanMinGugYeorSaCe/NanumDaeHanMinGugYeorSaCe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumDaeHanMinGugYeorSaCe/NanumDaeHanMinGugYeorSaCe.ttf') format('truetype');
}